* {
    margin: 0;
    padding: 0;
}

body {
    font-family: arial;
    font-size: 18px;
}

#slide {
    width: 600px;
    height: 400px;
    margin: 10%;
}

#slide-img img {
    border: 5px solid #333;
}

#slide-num {
    text-align: center;
}

#slide-num a {
    font-weight: bold;
    color: #333;
    text-decoration: none;
    letter-spacing: 10px;
}


#listImg {
    display: flex;
    text-align: right;
}

.imglist {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    opacity: 0.7;
}

.active {
    border: 5px solid red;
    box-sizing: border-box;
    opacity: 1;
}